<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239663271104-0n6epkuc24uddsnjv0mtrk2g42vr3tt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239663271104-0n6epkuc24uddsnjv0mtrk2g42vr3tt8</string>
	<key>API_KEY</key>
	<string>AIzaSyBPc-S6sLe87Y-FxcEs5Nau85dGIFwdxsg</string>
	<key>GCM_SENDER_ID</key>
	<string>239663271104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>opapps.iBeaconRangingMonitoring</string>
	<key>PROJECT_ID</key>
	<string>ibeacon-53c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>ibeacon-53c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239663271104:ios:86e5702408031368e5b125</string>
	<key>DATABASE_URL</key>
	<string>https://ibeacon-53c6d.firebaseio.com</string>
</dict>
</plist>